*{
  margin: 0px;
  padding: 0px;
  align-content: center;
  justify-content: center;
 }
body{
  background: linear-gradient(269.66deg, rgba(115, 17, 150, 0.88) 11.17%, rgba(182, 14, 115, 0.88) 43.8%, rgba(59, 6, 68, 0.88) 95.57%);
  justify-content: center;
}
.banner{
width: 100%;
height: 500px;
display: flex;
}
.menu{
display: flex;
margin: auto;
}
.atletasbtn {
background-color: white;
color: #B0005B;
padding: 16px;
font-size: 26px;
font-family: 'Aclonica', sans-serif;
border: none;
width: 500px;
max-width: 700px;
}

.atletas {
position: relative;
display: inline-block;
}

.atletas-content {
display: none;
position: absolute;
background-color: white;
width: 100%;
box-shadow: 0px 8px 16px 0px hsl(240deg 8% 93%);
z-index: 1;
}

.atletas-content a {
color: #076F8F;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
min-width: 160px;
text-align: center;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.atletas-content a:hover {
background-color: #ddd;
}

.atletas:hover .atletas-content {
display: block;
}

.atletas:hover .atletasbtn {
background-color: #8BF3A2;
}
.presentation{
font-family: 'Montserrat', sans-serif; 
font-size: 20px;
color: #FDFB5D;
}
/*font-family: 'Montserrat', sans-serif;*/
#countries{
font-family: 'Aldrich', sans-serif;  
color:#076F8F;
font-size: 27px;
background: #B2F02E;
border: #0D5FDB;
border-radius: 12px;
width: 280px;
height:42px;
left: 353px;
top: 181px;
margin: 15px;
}
.card{
width: 330px;
height: 220px;
background: rgba(15, 103, 206, 0.7);
border-radius: 10px;  
margin: 5px;
}
#root{
font-family: 'Audiowide', cursive;
font-size: 14px;  
color: #57FF1C;
}

/*font-family: 'Quicksand', sans-serif;*/